.labelAndSearches_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
}

#search_icon {
	font-size: 18px;
	color: #767778;
}

.label_container {
	margin-top: 10px;
}

.SearchInput {
	background-color: #232427;
	border: none !important;
	color: white;
}
