.labelAndSearches_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

#search_icon {
	font-size: 18px;
	color: #767778;
}

.label_container {
	margin-top: 10px;
	background-color: #202124;
}
