.labelAndSearches_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

#search_icon {
  font-size: 18px;
  color: #767778;
}

.label_container {
  margin-top: 20px;
}

.SearchInput {
  width: 200px;
  background-color: #232427;
  border: none !important;
  color: white;
}

.SearchInput:focus {
  border-bottom: 0.5px solid gray !important;
}

.modal_name_container {
  color: white;
}

.labelMaking {
  color: gray;
  cursor: pointer;
  transition: 0.3s;
}

.labelMaking:hover {
  color: white;
}

.checkbox_input {
  border: none !important;
}
/* 체크박스 숨기기 */
.hidden_checkbox {
  display: none;
}

/* 사용자 정의 체크박스 스타일 */
.custom_checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #555;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 4px;
}

/* 체크 표시 스타일 */
.hidden_checkbox:checked + .custom_checkbox_label .custom_checkbox::after {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: relative;
  top: -1px;
  left: 4px;
}

.custom_checkbox_label {
  display: flex;
}

.label_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 3px;
}

.label_name {
  width: 200px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
