@mixin flexCenter {
  display: flex;
  align-items: center !important;
}

//메인바디
.main_body {
  @include flexCenter();
  flex-direction: column;
  width: 100%;
  transition: 0.5s;
  padding: 20px;
  padding-left: 100px;
}
