@mixin flexCenter {
  display: flex;
  align-items: center !important;
}

.pageBody {
  display: flex;
  width: 100vw;
  height: 90vh;
}

//메인바디
.main_body {
  @include flexCenter();
  flex-direction: column;
  width: 100%;
  transition: 0.5s;
}

.explanation {
  @include flexCenter();
  flex-direction: column;
  justify-content: center !important;
  height: 100%;
}

.first_icon {
  font: {
    size: 8rem !important;
    weight: bold !important;
  }
  color: gray !important;
}

.first_text {
  font: {
    size: 1.5rem;
  }
  color: gray;
  margin-top: 10px;
}
