@mixin flexCenter {
	display: flex !important;
	align-items: center !important;
}

//사이드바
.sidebar_space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60px;
  height: 100%;
  background-color: #202124;
  color: white;
  overflow: hidden;
  z-index: 1;
  padding: {
    top: 10px;
  }
  transition: 0.3s;
}

.sidebar_space:hover {
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  transition: 0.3s;
}

.open {
  width: 350px !important;
  transition: 0.3s;
}

.sidebar_space:hover .sidebar_menu {
  width: 295px;
  transition: 0.3s;
}

.sidebar_space:hover .sidebar_menu span {
  display: block;
}

.currentPage {
  background-color: #41331c !important;
}

.sidebar_menu {

  @include flexCenter();
  justify-content: left;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: {
    left: 25px;
  }
  cursor: pointer;
  text-wrap: nowrap;
}

.sidebar_menu:hover {
  background-color: #2d2f33;

}

.sidebar_menu span {
  display: none;
}

.sidebar_icons {

  @include flexCenter();
  justify-content: left !important;
  width: 25px;
  height: 25px;
  margin: {
    right: 20px;
  }
}
