@mixin flexCenter {
  display: flex !important;
  align-items: center !important;
}

@mixin flexCenterX2 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
//
//사이드바
.sidebar_space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70px;
  min-width: 70px;
  height: calc(100% - 10px);
  padding-top: 10px;
  background-color: #202124;
  color: white;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}

.sidebar_space:hover {
  width: 300px !important;
  transition: 0.3s;
}

.toggle_sidebar {
  width: 300px !important;
  transition: 0.3s;
}

.sidebar_menu {
  @include flexCenter();
  justify-content: left;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: {
    left: 13px;
  }
  cursor: pointer;
  text-wrap: nowrap;
  border-radius: 50%;
  transition: 0.3s;
}

.sidebar_space:hover .sidebar_menu,
.toggle_sidebar .sidebar_menu {
  width: 100%;
  transition: 0.2s;
  margin-left: 0;
  padding-left: 13px;
  border-radius: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.selected_menu {
  background-color: #41331c !important;
  color: white !important;
}

.sidebar_menu:hover {
  background-color: #2d2f33;
}

.sidebar_menu span {
  display: hidden;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.sidebar_space:hover .sidebar_menu span {
  display: visible !important;
}

.sidebar_icons {
  @include flexCenter();
  justify-content: left !important;
  width: 25px;
  height: 25px;
  padding: {
    left: 13px;
    right: 12px;
  }
  border-radius: 50%;
  font-size: 25px !important;
  margin-right: 15px;
  color: rgb(150, 150, 150);
}
